/* --------------------
        layout 
-----------------------*/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}
#root {
  width: 100%;
  font-family: 'Pretendard-Regular';
}
.wrapper {
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-sizing: border-box;
}

/* 셀렉박스 */
.selectBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectBox .lbl {
  margin-right: 15px;
  margin-bottom: 0;
}
.selectBox select {
  width: 150px;
  height: 30px;
  padding: 0 5px;
  border: 1px solid #4f4f4f;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
}
.selectBox select:focus {
  border-color: #222;
}
.selectBox select option {
  padding: 10px 0;
  background-color: #fff;
}



/* --------------------
        header 
-----------------------*/
.header {
  padding-bottom: 15px;
  border-bottom: 1px solid #cacaca;
}
.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_inner > div {
  display: flex;
}
.header .head_text {
  width: 50%;
  justify-content: center;
  font-size: 18px;
}
.head_left {
  width: 25%;
  justify-content: start;
}
.head_right {
  width: 25%;
  justify-content: end;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 35px;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

/* --------------------
      일기 리스트
-----------------------*/
.list_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.selecBox {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0 7px;
  margin-right: 4px;
  border: 1px solid #cacaca;
  border-radius: 4px;
  box-sizing: border-box;
}
.selecBox option {
  box-shadow: none !important;
}
.selecBox:focus {
  border: 1px solid #cacaca;
  outline: none;
}
.list_head .left_col {
  display: flex;
  align-items: center;
}
.list_head .right_col {
  flex-grow: 1;
}
.list_head .right_col button {
  width: 100%;
}
.Mybutton {
  padding: 0 13px;
  box-sizing: border-box;
}
.MyButton_default {
  background-color: #f2f2f2;
}
.MyButton_negative {
  background-color: #333;
  border-color: #333;
  color: #fff;
}
.MyButton_positive {
  background-color: #676767;
  color: #fff;
}

/* 리스트 body */
.list_body {
  margin-top: 20px;
}
.list_item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05), 0px 0px 14px 6px rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
}
.item_img img {
  width: 80px;
}
.item_text {
  flex-grow: 1;
  padding: 10px 0;
  margin-left: 13px;
}
.item_date {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  color: #818181;
}
.item_content {
  font-size: 14px;
  color: #222;
}
.nodata {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #f3f3f3;
  border-radius: 7px;
  font-size: 14px;
}

/* --------------------
      일기 작성 폼 
-----------------------*/
.form_body {
  margin-top: 40px;
}
.form_row {
  margin-bottom: 26px;
}
.form_row:last-child {
  margin-bottom: 0;
}
.form_row .form_date {
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 7px;
  background-color: #ededed;
  border-radius: 4px;
}
.form_title {
  margin-bottom: 12px;
}

/* 이모션 이미지 */
.emotion_list {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2%;
}
.emotion_item {
  cursor: pointer;
  padding: 15px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.emotion_item img {
  width: 50%;
}
.emotion_item .emotion_name {
  margin-top: 10px;
  font-size: 14px;
}
.emotion_off {
  background-color: #ebebeb;
}
.emotion_on_1 {
  background-color: #64c964;
  color: #fff;
}
.emotion_on_2 {
  background-color: #9dd772;
  color: #fff;
}
.emotion_on_3 {
  background-color: #fdce17;
  color: #fff;
}
.emotion_on_4 {
  background-color: #fd8446;
  color: #fff;
}
.emotion_on_5 {
  background-color: #fd565f;
  color: #fff;
}
.form_content textarea {
  width: 100%;
  height: 100px;
  padding: 12px;
  background-color: #ebebeb;
  border-radius: 5px;
  resize: none;
  box-sizing: border-box;
}
.form_foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

/* --------------------
        일기 상세 
-----------------------*/
.detail_inner {
  margin-top: 40px;
}
.detail_emotion {
  text-align: center;
}
.detail_emotion h3 {
  margin-bottom: 20px;
}
.detail_emotion img {
  width: 100px;
}
.detail_emotion .emotion_name {
margin-top: 10px;
}
